/CopyBytesImaxe/nbproject/private/
/CopyBytesImaxe/build/
/CopyBytesImaxe2/nbproject/private/
/CopyBytesImaxe2/build/
/CopyBytesTexto/nbproject/private/
/CopyBytesTexto/build/
/CopyCaracteres/nbproject/private/
/CopyCaracteres/build/
/PrimitiveUTFChars/nbproject/private/
/PrimitiveUTFChars/build/
/PrimitiveWriteChars/nbproject/private/
/PrimitiveWriteChars/build/
/PrimitiveWriteUTF/nbproject/private/
/PrimitiveWriteUTF/build/
/ProductsStream/nbproject/private/
/ProductsStream/build/
/XMLReader/nbproject/private/
/Serializacion2/dist/
/XMLReader/build/
